@import './app.scss';

.landing-page-shell {
    background: #F8F8F8;
    width: 100%;
    height: 200vh;
    .title-and-search-modal {
        position: absolute;
        margin-left: 10%;
        margin-top: 40vh;
        .landing-page-title {
            font-family: arial;
            width: 320px;
            font-size: 30px;
            font-weight: 600;
            opacity: 0.8;
        }
        .landing-page-search-bar {
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 400px;
            &::placeholder {
                color: lightgray;
                font-family: arial;
                font-weight: 100;
            }
        }
        .landing-page-navigation {
            border-left: 10px solid rgba(173, 216, 230, 0.4);
            p {
                display: table;
                padding: 10px;
                margin-bottom: 10px;
                font-family: arial;
                font-size: 12px;
                font-weight: 200;
                opacity: 0.5;
                background-color:  rgba(173, 216, 230, 0);
                transition: background-color 1s;
                &:hover {
                    background-color:  rgba(173, 216, 230, 0.8);
                }
            }
        }
    }
}
